
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.index-weU {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-arsr-aBe {
    align-items: center;
    display: flex;
    background: linear-gradient(180deg, #683679 14.87%, #69088a 100%);
    margin-bottom: 8.1rem;
    box-sizing: border-box;
    padding: 4.6rem 3rem 8.1rem 5.2rem;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;

    .navbar-A3N {
      margin: 0rem 2.1rem 4.7rem 0rem;
      width: calc(100% - 2.1rem);
      height: 10.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-2-eUL {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 47.1rem;
        width: 31.2rem;
        height: 10.1rem;
        object-fit: contain;
      }
      .group-18-yFi {
        align-items: center;
        flex-shrink: 0;
        margin: 2.3rem 0;
        height: calc(100% - 4.6rem);
        display: flex;
        column-gap: 6.5rem;

        .home-JHz {
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.3625;
        }
        .map-CeG {
          font-weight: 600;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
        }
        .about-wrk {
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Nunito Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .fiest-CXn {
      width: 100%;
      height: 67.2rem;
      position: relative;
      flex-shrink: 0;

      .kelompok-3-7ue {
        font-weight: 800;
        white-space: nowrap;
        display: flex;
        position: absolute;
        text-align: center;
        border-radius: 3.1rem;
        left: 0;
        font-size: 3rem;
        line-height: 1.3625;
        color: #000000;
        font-family: Nunito Sans, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        width: 23.8rem;
        height: 5.1rem;
        top: 19.5rem;
        background-color: #d9d9d9;
      }
      .sistem-informasi-geografis-sig-yang-telah-kami-rancang-mencakup-lokasi-lokasi-penting-seperti-bank-bni-gedung-fakultas-hukum-taman-vokasi-area-parkir-gps-dan-gedung-graha-pakuan-siliwangi-implementasi-sig-ini-bertujuan-untuk-memberikan-kontribusi-yang-berharga-dalam-memperluas-wawasan-serta-pemetaan-universitas-pakuan-unpak-kBv {
        top: 27.1rem;
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        left: 0;
        height: 23.9rem;
        position: absolute;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.3625;
        width: 65rem;
      }
      .go-map-hFa {
        box-sizing: border-box;
        padding: 2.2rem 2.9rem 2.2rem 2.7rem;
        height: 9.2rem;
        background-color: #270d30;
        width: 36.2rem;
        position: absolute;
        left: 0;
        top: 56rem;
        border-radius: 2.3rem;

        .group-5-Mqv {
          align-items: center;
          width: 100%;
          height: 100%;
          display: flex;

          .vector-62p {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.3rem;
            width: 3.4rem;
            height: 3.4rem;
          }
          .go-to-map-now-E92 {
            color: #f9f7f7;
            font-family: Nunito Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.3625;
          }
        }
      }
      .about-SuJ {
        font-size: 3.5rem;
        font-weight: 800;
        top: 56rem;
        color: #280e31;
        align-items: center;
        background-color: #faf8f8;
        width: 26.1rem;
        position: absolute;
        left: 39.1rem;
        white-space: nowrap;
        height: 9.2rem;
        line-height: 1.3625;
        font-family: Nunito Sans, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        border-radius: 2.3rem;
      }
      .sistem-informasi-geografis-peta-unpak-W8U {
        position: absolute;
        left: 0;
        top: 0;
        font-family: Nunito Sans, 'Source Sans Pro';
        width: 90rem;
        height: 19.1rem;
        font-size: 7rem;
        font-weight: 800;
        line-height: 1.3625;
        color: #ffffff;
      }
      .illustasi-BVW {
        width: 54.1rem;
        height: 55.2rem;
        position: absolute;
        left: 69.7rem;
        top: 12rem;
        border-radius: 2.2rem;

        .container-vCC {
          box-shadow: 0 0.4rem 0.4rem rgba(255, 255, 255, 0.25);
          background-color: rgba(255, 255, 255, 0.400000006);
          border-radius: 2.2rem;
          width: 52.1rem;
          height: 53.2rem;
          position: absolute;
          left: 2rem;
          top: 2rem;
        }
        .container-PrU {
          border-radius: 2.2rem;
          width: 52.1rem;
          height: 53.2rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .lokasi-survey-T5e {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 6.9rem 16.2rem 5.6rem;
    width: calc(100% - 12.5rem);
    align-items: center;
    display: flex;

    .lokasi-survey-y3z {
      line-height: 1.3625;
      color: #000000;
      font-family: Nunito Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 1.4rem;
      text-align: center;
      font-size: 7rem;
      font-weight: 800;
    }
    .frame-2-UFe {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .auto-group-vang-cMr {
        margin-bottom: 7rem;
        width: 100%;
        height: 57.6rem;
        display: flex;
        column-gap: 5rem;
        align-items: center;
        flex-shrink: 0;

        .card-1-v7e {
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.1rem;
          width: 36.5rem;
          height: 100%;
          box-shadow: -1rem 1rem 2.23rem rgba(0, 0, 0, 0.25);
          background-color: #e1d7e4;

          .group-19-FQp {
            flex-direction: column;
            border-radius: 2.5rem;
            width: 100%;
            height: 52.9rem;
            align-items: center;
            display: flex;

            .rectangle-4-BpG {
              margin-bottom: 2.3rem;
              width: 34.2rem;
              height: 37.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
              flex-shrink: 0;
            }
            .bank-bni-7T2 {
              margin: 0rem 0.2rem 1rem 0rem;
              text-align: center;
              font-size: 4rem;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 800;
              line-height: 1.3625;
              color: #000000;
              flex-shrink: 0;
            }
            .tempat-penyediakan-layanan-perbankan-RCp {
              font-size: 2.5rem;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              margin-left: 0.2rem;
              max-width: 23.3rem;
              line-height: 1.3625;
              flex-shrink: 0;
              text-align: center;
              font-weight: 400;
            }
          }
        }
        .card-2-sKi {
          background-color: #e1d7e4;
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.1rem;
          width: 36.5rem;
          height: 100%;
          box-shadow: -1rem 1rem 2.23rem rgba(0, 0, 0, 0.25);

          .group-19-C76 {
            flex-direction: column;
            border-radius: 2.5rem;
            width: 100%;
            height: 52.9rem;
            align-items: center;
            display: flex;

            .rectangle-4-X9N {
              flex-shrink: 0;
              margin-bottom: 2.3rem;
              width: 34.2rem;
              height: 37.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
            }
            .fakultas-hukum-dCQ {
              margin: 0rem 0.1rem 1rem 0rem;
              font-size: 4rem;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              font-weight: 800;
              line-height: 1.3625;
              color: #000000;
              flex-shrink: 0;
            }
            .pusat-kegiatan-akademis-hukum-unpak-Y4U {
              font-size: 2.5rem;
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.2rem;
              max-width: 27.8rem;
              text-align: center;
              font-weight: 400;
            }
          }
        }
        .card-3-Bt8 {
          height: 100%;
          box-shadow: -1rem 1rem 2.23rem rgba(0, 0, 0, 0.25);
          background-color: #e1d7e4;
          border-radius: 2.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.1rem;
          width: 36.5rem;

          .group-19-jPr {
            height: 52.9rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.5rem;
            width: 100%;

            .rectangle-4-V88 {
              margin-bottom: 2.3rem;
              width: 34.2rem;
              height: 37.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
              flex-shrink: 0;
            }
            .fakultas-hukum-2Nx {
              font-family: Nunito Sans, 'Source Sans Pro';
              margin: 0rem 0.1rem 1rem 0rem;
              text-align: center;
              font-size: 4rem;
              font-weight: 800;
              color: #000000;
              line-height: 1.3625;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .fasilitas-penting-di-kampus-unpak-wVv {
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.2rem;
              max-width: 31.1rem;
              text-align: center;
              font-size: 2.5rem;
              font-weight: 400;
            }
          }
        }
      }
      .auto-group-4ax6-YEp {
        flex-shrink: 0;
        margin: 0 20.75rem;
        width: calc(100% - 41.5rem);
        height: 57.6rem;
        display: flex;
        align-items: center;

        .card-5-sH6 {
          background-color: #e1d7e4;
          border-radius: 2.5rem;
          margin-right: 5rem;
          width: 36.5rem;
          height: 100%;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.1rem;
          box-shadow: -1rem 1rem 2.23rem rgba(0, 0, 0, 0.25);

          .group-19-Q28 {
            width: 100%;
            height: 52.9rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            border-radius: 2.5rem;

            .rectangle-4-9VW {
              vertical-align: top;
              border-radius: 2.5rem;
              flex-shrink: 0;
              margin-bottom: 2.3rem;
              width: 34.2rem;
              height: 37.2rem;
              object-fit: cover;
            }
            .taman-vokasi-gkL {
              margin: 0rem 0.2rem 1rem 0rem;
              text-align: center;
              white-space: nowrap;
              font-size: 4rem;
              font-weight: 800;
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .area-santai-mahasiswa-program-vokasi-11v {
              font-weight: 400;
              line-height: 1.3625;
              flex-shrink: 0;
              margin-left: 0.2rem;
              max-width: 26rem;
              text-align: center;
              font-size: 2.5rem;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
            }
          }
        }
        .card-4-FS4 {
          box-sizing: border-box;
          padding: 1.5rem 1.2rem 1.5rem 1.1rem;
          width: 36.5rem;
          height: 100%;
          box-shadow: -1rem 1rem 2.23rem rgba(0, 0, 0, 0.25);
          background-color: #e1d7e4;
          border-radius: 2.5rem;
          flex-shrink: 0;

          .group-19-nB6 {
            border-radius: 2.5rem;
            width: 100%;
            height: 52.9rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .rectangle-4-5vt {
              width: 34.2rem;
              height: 37.2rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 2.5rem;
              flex-shrink: 0;
              margin-bottom: 2.3rem;
            }
            .parkiran-gps-QiG {
              text-align: center;
              font-weight: 800;
              line-height: 1.3625;
              color: #000000;
              flex-shrink: 0;
              margin: 0rem 0.1rem 1rem 0rem;
              font-size: 4rem;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .parkiran-untuk-mobil-didepan-gedung-gps-wCQ {
              text-align: center;
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.2rem;
              max-width: 24.4rem;
              font-size: 2.5rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .auto-group-izcg-BMe {
    box-sizing: border-box;
    padding: 7.5rem 8.836rem 13.713rem 8.778rem;
    width: 100%;
    height: 70.6rem;
    background: linear-gradient(180deg, #683679 14.87%, #69088a 100%);
    flex-shrink: 0;

    .tools-7FJ {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;

      .tools-SYU {
        white-space: nowrap;
        margin: 0rem 0.041rem 6rem 0rem;
        text-align: center;
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        font-size: 7rem;
        font-weight: 800;
        line-height: 1.3625;
        flex-shrink: 0;
      }
      .frame-3-Z7J {
        width: 100%;
        height: 33.7871rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .illustasi-J4t {
          flex-shrink: 0;
          margin-right: 7.5rem;
          width: 33.069rem;
          height: 100%;
          position: relative;

          .container-CAG {
            height: 32.5629rem;
            position: absolute;
            left: 1.1794rem;
            top: 1.2242rem;
            box-shadow: 0 0.4rem 0.4rem rgba(255, 255, 255, 0.25);
            background-color: rgba(255, 255, 255, 0.400000006);
            border-radius: 2.2rem;
            width: 31.8896rem;
          }
          .container-tHz {
            top: 0;
            box-shadow: 0 0.4rem 4.42rem rgba(255, 255, 255, 0.25);
            background-color: #ffffff;
            border-radius: 2.2rem;
            width: 31.8896rem;
            height: 32.5629rem;
            position: absolute;
            left: 0;
          }
          .group-22-cDz {
            width: 20.2rem;
            height: 27.5rem;
            position: absolute;
            left: 5.8rem;
            top: 2.6rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .image-3-YdS {
              width: 20.2rem;
              height: 20.6rem;
              position: relative;
              background-size: 411.111% 192.449%;
              background-position: -11.5043rem -9.4103rem;
              background-image: url('REPLACE_IMAGE:3ecc6e44ed8979561dc6304cc73e11e92951cc59');
              flex-shrink: 0;
            }
            .qgis-rPE {
              font-size: 5rem;
              font-weight: 800;
              line-height: 1.3625;
              color: #669e37;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
          }
        }
        .illustasi-yik {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 7.5rem;
          width: 33.1448rem;

          .container-jT2 {
            border-radius: 2.2rem;
            width: 31.8896rem;
            height: 32.5629rem;
            position: absolute;
            left: 1.2552rem;
            top: 1.2242rem;
            box-shadow: 0 0.4rem 0.4rem rgba(255, 255, 255, 0.25);
            background-color: rgba(255, 255, 255, 0.400000006);
          }
          .container-SMS {
            width: 31.8896rem;
            height: 32.5629rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 4.42rem rgba(255, 255, 255, 0.25);
            background-color: #ffffff;
            border-radius: 2.2rem;
          }
          .group-20-Ws6 {
            position: absolute;
            left: 5.4rem;
            top: 3rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 21.1rem;
            height: 26.7rem;

            .image-3-SVr {
              position: relative;
              background-size: 100% 112.604%;
              background-position: 0 -1.249rem;
              background-image: url('REPLACE_IMAGE:9ac7ac153123cf150f2e6cac971e05639512e95b');
              flex-shrink: 0;
              margin-bottom: 1.1rem;
              width: 21.1rem;
              height: 18.7rem;
            }
            .qfield-wxQ {
              line-height: 1.3625;
              white-space: nowrap;
              font-size: 5rem;
              font-weight: 800;
              color: #79ca42;
              font-family: Nunito Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.0207rem;
              text-align: center;
            }
          }
        }
        .illustasi-USY {
          flex-shrink: 0;
          width: 33.1724rem;
          height: 100%;
          position: relative;

          .container-daL {
            background-color: rgba(255, 255, 255, 0.400000006);
            border-radius: 2.2rem;
            width: 31.8896rem;
            height: 32.5629rem;
            position: absolute;
            left: 1.2828rem;
            top: 1.2242rem;
            box-shadow: 0 0.4rem 0.4rem rgba(255, 255, 255, 0.25);
          }
          .container-LUk {
            box-shadow: 0 0.4rem 4.42rem rgba(255, 255, 255, 0.25);
            background-color: #ffffff;
            border-radius: 2.2rem;
            width: 31.8896rem;
            height: 32.5629rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .group-21-Frc {
            height: 28.9rem;
            position: absolute;
            left: 6rem;
            top: 1.9rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 20rem;

            .image-4-Pxp {
              height: 19.64rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 2.36rem;
              width: 20rem;
            }
            .vscode-Xp8 {
              text-align: center;
              font-size: 5rem;
              font-weight: 800;
              line-height: 1.3625;
              color: #1070b3;
              font-family: Nunito Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .auto-group-1pve-zxc {
    box-sizing: border-box;
    padding: 9rem 7.6rem 25.8rem 5.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .plugins-vrG {
      flex-direction: column;
      border-radius: 2.1rem;
      flex-shrink: 0;
      margin-bottom: 13.4rem;
      width: 100%;
      display: flex;

      .plugins-sWc {
        font-weight: 800;
        line-height: 1.3625;
        color: #000000;
        font-family: Nunito Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        font-size: 7rem;
      }
      .group-18-ov4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 2.1rem;
        flex-shrink: 0;
        margin-bottom: 2.9rem;

        .group-13-ZPS {
          border-radius: 2.1rem;
          margin-bottom: 2rem;
          font-family: Nunito Sans, 'Source Sans Pro';
          width: 38.2rem;
          color: #ffffff;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 1.4rem 2.8rem 1.3rem 2.8rem;
          background-color: #280e31;
          font-weight: 800;
          line-height: 1.3625;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.5rem;
        }
        .group-14-zUk {
          box-sizing: border-box;
          padding: 3rem 2.8rem 3.2rem 2.8rem;
          width: 100%;
          height: 23.3rem;
          background-color: #e1c7e9;
          border-radius: 2.1rem;
          flex-shrink: 0;

          .qfieldsync-itu-kayak-asisten-pribadi-buat-lo-yang-kepengen-bawa-proyek-qgis-lo-ke-lapangan-pake-qfield-gak-perlu-pusing-pusing-plugin-ini-bakal-ngaturin-semuanya-mulai-dari-nyiapin-proyek-yang-bisa-dibawa-kemana-mana-sampai-bikin-peta-dasar-yang-cakep-tinggal-klik-klik-dia-bakal-bilang-apa-yang-harus-lo-lakuin-biar-proyek-lo-bisa-jalan-mulus-di-qfield-lumayan-kan-gak-perlu-mikir-keras-si-qfieldsync-udah-siap-bantuin-lo-7pG {
            line-height: 1.3625;
            color: #000000;
            font-family: Nunito Sans, 'Source Sans Pro';
            max-width: 108.9rem;
            font-size: 2.5rem;
            font-weight: 400;

            .qfieldsync-itu-kayak-asisten-pribadi-buat-lo-yang-kepengen-bawa-proyek-qgis-lo-ke-lapangan-pake-qfield-gak-perlu-pusing-pusing-plugin-ini-bakal-ngaturin-semuanya-mulai-dari-nyiapin-proyek-yang-bisa-dibawa-kemana-mana-sampai-bikin-peta-dasar-yang-cakep-tinggal-klik-klik-dia-bakal-bilang-apa-yang-harus-lo-lakuin-biar-proyek-lo-bisa-jalan-mulus-di-qfield-lumayan-kan-gak-perlu-mikir-keras-si-qfieldsync-udah-siap-bantuin-lo-7pG-sub-0 {
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
            }
            .qfieldsync-itu-kayak-asisten-pribadi-buat-lo-yang-kepengen-bawa-proyek-qgis-lo-ke-lapangan-pake-qfield-gak-perlu-pusing-pusing-plugin-ini-bakal-ngaturin-semuanya-mulai-dari-nyiapin-proyek-yang-bisa-dibawa-kemana-mana-sampai-bikin-peta-dasar-yang-cakep-tinggal-klik-klik-dia-bakal-bilang-apa-yang-harus-lo-lakuin-biar-proyek-lo-bisa-jalan-mulus-di-qfield-lumayan-kan-gak-perlu-mikir-keras-si-qfieldsync-udah-siap-bantuin-lo-7pG-sub-1 {
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.3625;
            }
            .qfieldsync-itu-kayak-asisten-pribadi-buat-lo-yang-kepengen-bawa-proyek-qgis-lo-ke-lapangan-pake-qfield-gak-perlu-pusing-pusing-plugin-ini-bakal-ngaturin-semuanya-mulai-dari-nyiapin-proyek-yang-bisa-dibawa-kemana-mana-sampai-bikin-peta-dasar-yang-cakep-tinggal-klik-klik-dia-bakal-bilang-apa-yang-harus-lo-lakuin-biar-proyek-lo-bisa-jalan-mulus-di-qfield-lumayan-kan-gak-perlu-mikir-keras-si-qfieldsync-udah-siap-bantuin-lo-7pG-sub-2 {
            }
          }
        }
      }
      .group-19-MGg {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 2.1rem;

        .group-13-7Fr {
          font-family: Nunito Sans, 'Source Sans Pro';
          box-sizing: border-box;
          padding: 1.4rem 4.2rem 1.3rem 4.2rem;
          line-height: 1.3625;
          font-size: 3.5rem;
          flex-shrink: 0;
          text-align: center;
          font-weight: 800;
          border-radius: 2.1rem;
          white-space: nowrap;
          background-color: #280e31;
          margin-bottom: 2rem;
          width: 38.2rem;
          color: #ffffff;
        }
        .group-14-mLQ {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.027rem 2.8rem 2.673rem 2.8rem;
          width: 100%;
          height: 26.2rem;
          background-color: #e1c7e9;
          border-radius: 2.1rem;

          .kalo-qgis2web-ini-sih-keren-banget-buat-lo-yang-mau-nunjukin-peta-lo-ke-seluruh-dunia-via-web-gak-usah-jadi-master-it-plugin-ini-otomatis-ubah-proyek-qgis-lo-jadi-peta-web-yang-bisa-dibuka-di-browser-pake-openlayers-atau-leaflet-dia-usahain-banget-buat-bawa-semua-yang-ada-di-qgis-lo-ke-web-termasuk-gaya-dan-tampilan-lapisan-lapisannya-tapi-yah-ada-kalanya-gak-semua-fitur-bisa-dikopi-sempurna-jadi-mungkin-lo-perlu-sedikit-ngoprek-kode-hasilnya-untuk-dapetin-yang-lo-mau-itu-sih-biasa-namanya-juga-kerja-kreatif-6tU {
            line-height: 1.3625;
            color: #000000;
            font-family: Nunito Sans, 'Source Sans Pro';
            max-width: 108.3rem;
            font-size: 2.5rem;
            font-weight: 400;

            .kalo-qgis2web-ini-sih-keren-banget-buat-lo-yang-mau-nunjukin-peta-lo-ke-seluruh-dunia-via-web-gak-usah-jadi-master-it-plugin-ini-otomatis-ubah-proyek-qgis-lo-jadi-peta-web-yang-bisa-dibuka-di-browser-pake-openlayers-atau-leaflet-dia-usahain-banget-buat-bawa-semua-yang-ada-di-qgis-lo-ke-web-termasuk-gaya-dan-tampilan-lapisan-lapisannya-tapi-yah-ada-kalanya-gak-semua-fitur-bisa-dikopi-sempurna-jadi-mungkin-lo-perlu-sedikit-ngoprek-kode-hasilnya-untuk-dapetin-yang-lo-mau-itu-sih-biasa-namanya-juga-kerja-kreatif-6tU-sub-0 {
            }
            .kalo-qgis2web-ini-sih-keren-banget-buat-lo-yang-mau-nunjukin-peta-lo-ke-seluruh-dunia-via-web-gak-usah-jadi-master-it-plugin-ini-otomatis-ubah-proyek-qgis-lo-jadi-peta-web-yang-bisa-dibuka-di-browser-pake-openlayers-atau-leaflet-dia-usahain-banget-buat-bawa-semua-yang-ada-di-qgis-lo-ke-web-termasuk-gaya-dan-tampilan-lapisan-lapisannya-tapi-yah-ada-kalanya-gak-semua-fitur-bisa-dikopi-sempurna-jadi-mungkin-lo-perlu-sedikit-ngoprek-kode-hasilnya-untuk-dapetin-yang-lo-mau-itu-sih-biasa-namanya-juga-kerja-kreatif-6tU-sub-1 {
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 1.3625;
              color: #000000;
              font-family: Nunito Sans, 'Source Sans Pro';
            }
            .kalo-qgis2web-ini-sih-keren-banget-buat-lo-yang-mau-nunjukin-peta-lo-ke-seluruh-dunia-via-web-gak-usah-jadi-master-it-plugin-ini-otomatis-ubah-proyek-qgis-lo-jadi-peta-web-yang-bisa-dibuka-di-browser-pake-openlayers-atau-leaflet-dia-usahain-banget-buat-bawa-semua-yang-ada-di-qgis-lo-ke-web-termasuk-gaya-dan-tampilan-lapisan-lapisannya-tapi-yah-ada-kalanya-gak-semua-fitur-bisa-dikopi-sempurna-jadi-mungkin-lo-perlu-sedikit-ngoprek-kode-hasilnya-untuk-dapetin-yang-lo-mau-itu-sih-biasa-namanya-juga-kerja-kreatif-6tU-sub-2 {
            }
          }
        }
      }
    }
    .qfield-eKe {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.274rem 0rem 4.774rem;
      width: calc(100% - 7.0473rem);

      .group-23-B4g {
        font-size: 7rem;
        font-weight: 800;
        white-space: nowrap;
        align-items: center;
        background: linear-gradient(95.91deg, #5b9831 0%, #8eae24 100%);
        border-radius: 5.4rem;
        width: calc(100% - 59.3527rem);
        height: 12.1rem;
        text-align: center;
        color: #ffffff;
        font-family: Nunito Sans, 'Source Sans Pro';
        margin: 0rem 29.726rem 10.5rem 29.626rem;
        line-height: 1.3625;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
      }
      .frame-4-beC {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-4kgq-L5z {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 7.1rem;
          width: 100%;
          height: 65rem;
          display: flex;

          .auto-group-dsrp-Fik {
            box-sizing: border-box;
            padding-right: 10rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .pixel-7-pro-mockup-1-QLk {
              margin-right: 10rem;
              width: 30.7rem;
              height: 64.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-4-1-8Xe {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 30.7rem;
              height: 64.8886rem;
            }
          }
          .item-5-Tpp {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 30.7527rem;
            height: 65rem;
          }
        }
        .auto-group-7nva-1LY {
          margin: 0 20.3237rem;
          width: calc(100% - 40.6473rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-3-kZ2 {
            margin-right: 10rem;
            width: 30.7527rem;
            height: 65rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-2-VmW {
            width: 30.7527rem;
            height: 65rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-wuka-SRr {
    font-size: 3rem;
    white-space: nowrap;
    background-color: #e7c9f1;
    width: 100%;
    color: #000000;
    font-family: Nunito Sans, 'Source Sans Pro';
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    height: 16.5rem;
    font-weight: 600;
    line-height: 1.3625;
    display: flex;
    justify-content: center;
  }
}
