.index-weU .auto-group-arsr-aBe .navbar-A3N {
  width: 100%;
  margin: 0rem 0rem 4.7rem 0rem;
  height: 10.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.index-weU .auto-group-arsr-aBe .navbar-A3N .image-2-eUL {
  height: 10.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  margin-left: 5rem;
  margin-right: 10px;
}
.index-weU .auto-group-arsr-aBe .navbar-A3N .group-18-yFi {
  justify-content: center;
  margin: 2.3rem 20rem;
  display: flex;
  column-gap: 6.5rem;
  align-items: center;
  flex-shrink: 0;
}
.index-weU .auto-group-arsr-aBe .navbar-A3N .group-18-yFi .home-JHz {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.index-weU .auto-group-arsr-aBe .navbar-A3N .group-18-yFi .map-CeG {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.index-weU .auto-group-arsr-aBe .navbar-A3N .group-18-yFi .about-wrk {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Nunito Sans, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
